<div class="padding-top-personal"></div>
<div class="card text-bg-dark">
    <div class="card-body text-center">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <h3 class="stunning-art">Chose your images</h3>
                    <div class="padding-top-buttons"></div>
                    <div class="padding-top-buttons"></div>
                    <input (change)="selectImages($event)" class="form-control" type="file" id="formFileMultiple"
                        multiple>
                </div>
                <div class="padding-top-buttons"></div>
                <button type="button" class="btn btn-success" (click)="uploadMultipleImages()">Upload
                    images</button>
            </div>
        </div>
        <div class="padding-top-buttons"></div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" (click)="triggerNvidia()">Trigger Nvidia tensorRT
                    magic</button>
            </div>
        </div>
    </div>
    <div class="padding-top-personal"></div>
</div>

<div class="padding-top-personal"></div>
<div class="text-center">
    <h3 class="stunning-art">Image Recognition</h3>
</div>
<div class="padding-top-personal"></div>
<div *ngIf="listOfOriginalImages.length > 0 && listOfPocessImages.length > 0" class="card text-bg-dark">
    <div class="card-body">
        <div class="row text-center">
            <div class="col-6">
                <h2>Original Image</h2>
                <div *ngFor="let originalImage of listOfOriginalImages" class="card text-bg-dark"
                    style="padding-bottom: 50px;">
                    <img src="assets/{{originalImage}}" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-6">
                <h2>Processed Image</h2>
                <div *ngFor="let pocessImage of listOfPocessImages" (click)="openZoomModal(pocessImage)"
                    class="card text-bg-dark" style="padding-bottom: 50px;">
                    <img src="assets/{{pocessImage}}" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" [class.show]="isModalOpen" [style.display]="isModalOpen ? 'block' : 'none'" tabindex="-1"
    aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img [src]="zoomedImagePath" [style.transform]="imageStyle" class="img-fluid zoomed-img" alt="Zoomed Image"
                (mousedown)="startPanning($event)" (mousemove)="panImage($event)" (mouseup)="stopPanning()"
                (mouseleave)="stopPanning()" (wheel)="zoomImage($event)">
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade" [class.show]="isModalOpen" *ngIf="isModalOpen"></div>


<div class="padding-top-personal-alot"></div>