.padding-top-personal {
    padding-top: 50px;
}

.padding-top-personal-alot {
    padding-top: 300px;
}

.padding-top-bottom {
    padding-bottom: 50px;
}

.padding-top-buttons {
    padding-bottom: 25px;
}

.stunning-art {
    font-size: 48px; /* Adjust the size as needed */
    font-weight: bold; /* Makes the font bold */
    text-transform: capitalize; /* Capitalizes the text */
    color: #198754; /* Adjust the color as needed */
    font-family: Arial, sans-serif; /* A common, bold-able font */
  }